<% include ./partials/header %>
<div class="blogWrapper">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <% if(!currentUser){ %>
          <h1>Create an account to comment on my Blog!</h1>
          <br>
          <a class="btn btn-primary btn-lg" href="/login">LOGIN</a>
          <a class="btn btn-primary btn-lg" href="/register">REGISTER</a>
        <% } else if (currentUser && currentUser.username === "Conor") { %>
          <h1>Welcome Back <%= currentUser.username %></h1>
        <% } else { %>
          <h1>Welcome to my Blog <%= currentUser.username %></h1>
        <% } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <% if (currentUser && currentUser.username === "Conor") { %>
          <a class='btn btn-success btn-lg' href='/blog/new'>Create new post</a>
        <% } %>
        <% blogs.forEach(function(blog){ %>
            <div class="item">
              <div class="content">
              <h1><%= blog.title %></h1>
                <div class="meta">
                  <span><%= blog.created.toDateString() %></span>
                </div>
                <div class="description">
                  <p><%- blog.body.substring(0, 100) %>...</p>
                </div>
              </div>
            </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>


<% include ./partials/footer %>
